body {
    background: #2ecc71 url("https://38.media.tumblr.com/d23deac40b06633b79520a8552f40b94/tumblr_nb1uhrRrge1st5lhmo1_1280.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::before {
        z-index: -1;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        background: #2ecc71;
        /* IE Fallback */
        background: rgba(46, 204, 112, 0.452);
        width: 100%;
        height: 100%;
    }

    
}

.contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Establece la altura del contenedor al 100% de la altura de la ventana */
}

.contenedor-app {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    
    height: 100vh; /* Establece la altura del contenedor al 100% de la altura de la ventana */
}

/*
    diseño del login
*/
.card-login{
    width: 20em;
    border-radius: 15px; /* Bordes redondeados de la tarjeta */
    box-shadow: 0 4px 8px rgba(36, 2, 2, 0.836); 
}

/**
 diseño de servicio
*/
.card-service{
    width: 100vh;
    height: 80vh;
    border-radius: 15px; /* Bordes redondeados de la tarjeta */
    box-shadow: 0 4px 8px rgba(36, 2, 2, 0.836); 
}

.card-cliente{
    width: 200vh;
    height: 120vh;
    border-radius: 15px; /* Bordes redondeados de la tarjeta */
    box-shadow: 0 4px 8px rgba(36, 2, 2, 0.836); 
}
